body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: white;
    text-align: center;
    padding: 20px;
  }
  .logo{
    color: rgb(2, 2, 2);
    fill: black;
  }
  
  h1 {
    color: rgb(251,110,20);
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 36px;
    margin: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .f
  
  h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color:rgb(251,110,20);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    margin-right: 20px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Additional styles for a posh feel */
  
  body {
    background-image: linear-gradient(to right, #f9f9f9, #d8d8d8);
  }
  
  .container {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
  header {
    background-color:white ;
    font-family: "Times New Roman", serif;
  }
  
  h1 {
    font-size: 48px;
  }
  
  button {
    background-color: rgb(251,110,20);
  }
  
  button:hover {
    background-color: #aa1a00;
  }
  
  label,
  input {
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #420000;
  }
  
  h2 {
    font-family: "Times New Roman", serif;
    font-size: 36px;
    color: #420000;
    letter-spacing: 2px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .error {
    color:red;
  }